* {
background-color: skyblue;
}
body {
  margin: 0;
}

h1 {
  float: left;
  padding-left: 20em;
  padding-right: 20em;
}

.front-center-header {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  display:inline-block;
}

.outer-box {
  padding-left: 2em;
}

.column {
  display: inline-block;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

.img-thumbnail {
  width: 100%
  padding (10, 10, 10, 10);
}

#image1 {
  float: left;
}

#image2 {
  float: inherit;
}

#image3 {
  float: right;
}
