/*As a prospective job seeker, I want to make myself more personable by adding a Top Ten list to the bottom of my About Me page with an ordered list in HTML, for instance, my Top Ten Favorite Movies or my Top Ten Places I Want to Visit, or something along those lines.
As a prospective job seeker, I was to use CSS to creatively and tastefully style and layout my page.*/


* {
  font-family: helvetica;
  font-size: 100%;
  color: white;
  margin: 0px;
}

body {
  background-color: gray;
}

 {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 10px;
  width: 100%;

}

h1 {
  font-size: 28px;
}

p {
  white-space: pre-line;

}

#front-center-header {
  background-color: rgb(62, 224, 197);
  color: gray;
  box-shadow: 2px 2px 8 px rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 50px;
  white-space: nowrap;
}

#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav-bar li {
  padding: 15px 15px 0px 15px;
  display:inline-block;
  float: right;
  height: 35px;
  background-color: black;
  border-right: 1px solid #bbb;
}

#nav-bar a {
text-decoration: none;
/*padding: 14px 16px;*/
color: inherit;
}

#nav-bar a:hover:not(.active) {
  background-color: rgb(62, 224, 197);
  padding: 20px 10px;
}

.active {
  background-color: gold;
}

#nav-title {
  float: left;
  text-align: left;
  width: 40%;
  padding: 5px 0px 10px 15px;
}

#user-story {
  padding-top: 120px;
  padding-bottom: 30px;
  text-align: center;
}

#cool-lists {
  padding-top: 120px;
  padding-bottom: 20px;

}

button.hobbies {
    background-color: rgb(62, 224, 197);
    color: inherit;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    outline: none;
    font-size: inherit;
    transition: 0.4s;
}

button.hobbies.active, button.hobbies:hover {
    background-color: gold;
}

div.panel {
    padding: 0px 18px;
    background-color: rgb(62, 224, 197);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

div.panel ul{
    list-style-type: none;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

div h2 {
  text-align: center;
}

#recent-work {
  padding-top: 120px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-margin: 3px;
}

#recent-work h2 {
  text-align: center;
}

#photo-box div{
  padding-left: 2em;
  display:inline-block;
}


#col1 {
  width: 300px;
  float: left;
  position: inline
  padding-left: 1em;
  padding-right: 1em;
}

#col2 {
  width:300px;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

#col3 {
  width: 300px;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

.img-thumbnail {
  width: 100%
  padding (10, 10, 10, 10);
}

#image1 #image2 #image3 {
  width: auto;
  height: 250px;
  resize: 50%;
}
