* {
background-color: skyblue;
}
body {
  margin: 0px;
}

h1 {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 10px;
  width: 100%;

}

h2 {
  margin: 200px;

}

.front-center-header {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 50px;
  padding: 10px;
  width: 100%;
}


.navlinks {
  display:inline-block;



}

.outer-box {
  padding-left: 2em;
}

#column1 #column2 #column3 {
  width: 300px;
  /*float: left;*/
  position: inline
  /*padding-left: 1em;
  padding-right: 1em;*/
}
/*
#column2 {
  width:300px;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

#column3 {
  width: 300px;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}*/

.img-thumbnail {
  width: 100%
  padding (10, 10, 10, 10);
}

#image1 #image2 #image3 {
  width: auto;
  height: 250px;
}
